.navbar-static-top {
  margin-bottom:20px;
}

i {
  font-size:16px;
}

.nav > li > a {
  color:#787878;
}
  
footer {
  margin-top:20px;
  padding-top:20px;
  padding-bottom:20px;
  background-color:#efefef;
}

/* count indicator near icons */
.nav>li .count {
  position: absolute;
  bottom: 12px;
  right: 6px;
  font-size: 9px;
  background: rgba(51,200,51,0.55);
  color: rgba(255,255,255,0.9);
  line-height: 1em;
  padding: 2px 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.correct {
  color: green;
}
.wrong {
  color: red;
}

.ellipsis {
	display: block;
	xwidth: 25em;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.calibank {
	width: 48px;
	height: 12px;
	background-image: url("../images/CALI Bank.png");
	background-repeat: no-repeat;
	background-size: 48px 12px;
}
.devinfo {
	color: #fff;
	background-color: #000;
}
.page-topic{
	font-size: smaller;
	display: inline-block;
	color: white;
	margin: 0.2em 0.2em;
	padding: 0 0.4em;
	background-color: #1D2D44;
	border-radius: 0.4em;
	opacity: 0.2;
}
